<div class="row">
  <div class="col-md-4 col-md-offset-4"><h1 class="text-center">Auditioner</h1></div>
</div>
<div class="row">
  <div class="col-md-offset-3 col-md-2 text-center">
    {{#link-to 'families.family_new'}}Register Family{{/link-to}}
  </div>
  <div class="col-md-offset-2 col-md-2 text-center" {{action 'editFamily'}}>
    Edit Family
  </div>
</div>
<div class="row">
  <div class="col-md-offset-3 col-md-2 text-center" {{action 'addProduction'}}>
    Add Production
  </div>
  <div class="col-md-offset-2 col-md-2 text-center" {{action 'viewFamilies'}}>
    View Family List
  </div>
</div>