<div class="row">
  <a href="">Back to Family Members</a>
</div>



<div class="row">
  <div class="col-md-7">
    <div class="row">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Insert Persons Name Here</h3>
            </div>
            <div class="panel-body">
                <table class="table table-striped table-condensed">
                    <tbody>
                    <tr>
                        <td>Height</td>
                        <td>6' 4"</td>
                    </tr>
                    <tr>
                        <td>Weight</td>
                        <td>200</td>
                    </tr>
                    <tr>
                        <td>Age</td>
                        <td>38</td>
                    </tr>
                    <tr>
                        <td>Ballet Experience</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>Tap Experience</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>Jazz Experience</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>Acrobats Experience</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>Prior Experience</td>
                        <td>Drummer Boy</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
  </div>
</div>
